<h1>Persons</h1>

<table id="allPersons">
  <tr>
    <th>Id</th>
    <th>name</th>
    <th>DOB</th>
    <th>MOB</th>
    <th></th>
  </tr>
</table>

<h1> Events </h1>
<div id="showPersonEvents">
</div>
